*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    padding: 15px;
    background-color: rgb(91, 207, 242);
    text-align: center;
}
nav{
    display: flex;
    flex-direction: row;
    background-color: #333;
    justify-content: center;
}
nav a{
    border-radius: 3px;
    color: black;
    padding: 14px 20px;
    text-align: center;
    border: 2px solid black;
    margin: 10px;
    background-color: rgb(236, 98, 236);
    text-decoration: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
aside{
    flex: 25%;
    background-color: beige;
    padding: 10px;
}
section{
    flex: 70%;
    background-color: #8061ef;
    padding: 10px;
}
footer{
    padding: 20px;
    text-align: center;
    background-color: palevioletred;
}
.logo{
    width: 450px;
    height: 300px;
}
a{
    font-size: 25px;
    font-family: Arial;
    text-align: center;
}
.titulos{
    text-align: center;
    font-size: 30px;
}
.texto{
    font-size: 25px;
    font-family: Helvetica;
    text-align:  justify;
}
.imasi{
    text-align: center;
    width: 200px;
    height: 150px;
}
.imgi{
    width: 600px;
    height: 400px;
    text-align: center;
}
.juegoim{
    width: 230px;
    height: 200px;
    margin: 0 auto;
}
.juegos{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.juego{
    height: 150px;
    width: 150px;
}
/* Productos */
.prod{
    display: inline-flex;
    flex-flow: column wrap;
    border: 1px solid black;
    height: auto;
    padding: 1%;
    width: 300px;
    margin: 10px;
    background-color: rgb(71, 57, 231);
}

.prod img{
    width: 100px;
    height: 100px;
    align-self: center;
}
.box{
    display: inline-flex;
    flex-flow: column wrap;
    border: 5px solid black;
    border-radius: 50px 50px 40px 40px;
    height: auto;
    padding: 19px;
    width: 320px;
    margin: 20px;
    background-color: rgb(45, 11, 118);
}
.formulario2 {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
.formulario2 {
    background-color: rgb(136, 11, 161);
    width: min( 50rem, 100% );
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    border-radius: 20px;
}
.formulario2 fieldset {
    border: none;
}
label{
    color: white;
    margin: 0 auto;
}
.formulario2 legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: white;
}
.prod h3{
    text-align: center;
}

.prod p{
    text-align: justify;
}

.prod button{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(229, 145, 145);
    float: right;
}

.container{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
